@import "node_modules/react-datepicker/src/stylesheets/datepicker.scss";

.Wrapper {
  margin: 30px 30px 0 30px;
  display: flex;
  justify-content: space-between;
  .search {
    position: relative;
    display: flex;
  }
  .datepicker,
  .search-input {
    padding: 10px 10px 10px 40px;
    width: 300px;
    height: 35px;
    border: 1px solid #000000;
    border-radius: 10px;
    color: #000;
    margin-right: 10px;
  }
  .search-input-icon {
    position: absolute;
    left: 10px;
    top: 9px;
    height: 12px;
  }
  .calendar {
    position: relative;
  }
  .calendar-icon {
    position: absolute;
    left: 10px;
    top: 9px;
  }
  .actions-btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .import-btn {
    align-items: center;
    display: flex;
    padding: 7px 10px 7px 10px;
    align-items: center;
    background-color: #d45b13;
    padding: 7px 10px;
    border-radius: 10px;
    font-weight: 550;
    font-size: 14px;
    color: #fff;
    margin-right: 8px;
    &:hover {
      cursor: pointer;
    }
    .import-icon {
      font-weight: 900;
      font-size: 14px;

      margin-right: 4px;
    }
  }

  .add-btn {
    align-items: center;
    display: flex;
    align-items: center;
    padding: 7px 10px 7px 10px;
    background-color: #2d3748;
    padding: 7px 10px;
    border-radius: 10px;
    font-weight: 550;
    font-size: 14px;
    color: #fff;
    margin-right: 8px;
    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }
    .add-icon {
      font-weight: 900;
      font-size: 14px;
      margin-right: 4px;
    }
  }
  .search-value-wrapper {
    width: 320px;
    height: 38px;
    margin-top: 12px;
    margin-bottom: -48px;
    display: flex;
    align-items: center;
  }
}
