@use "../../../styles/" as *;

.ant-modal-content {
    z-index: -10;
    border-radius: 10px !important;
    overflow: hidden;
    font-family: $font-family-inter;

    .ant-modal-header {
        background-color: $default-color  !important;

        .ant-modal-title {
            color: $white;
            text-align: center;
            font-weight: 700;
        }
    }

    .ant-modal-body {
        padding: 20px 20px 0;

        p {
            margin-bottom: 15px;
        }

        .input-download {
            color: $text-link-color;
        }
    }

    .ant-modal-footer {
        padding: 15px 20px 20px;
        border-top: none;

        .ant-btn {
            border-radius: 10px !important;
        }

        .ant-btn-default {
            border: none;

            span {
                color: $orange;
                font-weight: 700;
                line-height: 17px;
                text-decoration: underline;
            }
        }

        .ant-btn-primary {
            background-color: $default-color;
            border-color: $default-color;
            width: 96px;

            span {
                font-weight: 700;
            }
        }
    }
}

.modal-import-content {
    p {
        margin-bottom: 24px !important;
    }

    .input {
        margin-bottom: 15px;
        padding: 0;
    }

    .ant-select-arrow {
        position: absolute;
        top: 24px;
        right: -15px;

        svg {
            color: $default-color;
            transform: rotateX(180deg);
        }
    }

    .ant-select-selector {
        position: relative;
        width: 140px !important;
        height: 24px !important;
        border: 1px solid $default-color  !important;
        border-radius: 5px !important;
    }

    .ant-select-selection-item {
        top: -3px;
    }
}

.ant-divider {
    background-color: $divider-color;
    height: 1px;
    width: 460px !important;
    margin: 0 auto 24px !important;
}

.ant-divider:nth-child(2) {
    margin-bottom: 0 !important;
}

.ant-divider-horizontal {
    min-width: 0 !important;
}

.ant-checkbox-checked .ant-checkbox-inner {
    background-color: $default-color  !important;
    border-color: $default-color  !important;
}

.ant-checkbox-input:focus+.ant-checkbox-inner,
.ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-radio-checked .ant-radio-inner,
.ant-checkbox-checked:after {
    border-color: $default-color  !important;
}

.ant-radio-inner:after {
    background-color: $default-color  !important;
}

.ant-radio-input:focus+.ant-radio-inner {
    box-shadow: none;
}

.filename {
    width: 45%;
}

.fileurl {
    width: 85%;
}

.ant-form-item-row {
    justify-content: center;
    gap: 60px
}

.form-submit-button {
    float: right;
}

.ant-modal-footer {
    display: none;
}

.file-container {
    box-sizing: border-box;
    padding: 10px;
}

.preview-file {
    font-size: 15px;
    font-style: italic;
    color: #1976d2 !important
}

.file-icon {
    font-size: 18px;
    transform: rotate(-45deg);
    margin-right: 6px;
}

#basic_file {
    a[href] {
        color: #1976d2 !important;
    }
}